#overview-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 40px;
  flex-wrap: wrap; 
}

.intro-block {
  flex: 1;
  max-width: 600px;
}

#overview-page p {
  font-size: 1.25vw;
  line-height: 1;
  text-align: center;
}

#overview-page img {
  width: 100%;
  border-radius: 10px;
}

#explanation-page {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.story-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

.story-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.story-images img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
}

.story-text {
  flex: 2;
  font-size: 1.25vw;
  line-height: 1.6;
  text-align: left;;
}
#explanation-page {
  background-color: #f8f8f8;
  border-top: 2px solid #ddd;
}

#toc-wrapper {
  position: fixed;
  top: 20px;
  left: 40px;
  z-index: 100;
}

#toggle-toc {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
}

#emoji-toc {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: rgba(255, 255, 255, 0.6); 
  border: 1px solid rgba(204, 204, 204, 0.5);
  border-radius: 10px;
  padding: 10px 12px;
  font-family: "Lexend", sans-serif;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05); 
  transition: background-color 0.3s ease;
  padding: 6px 8px;
}

#emoji-toc a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  transition: transform 0.2s;
}

#emoji-toc a:hover {
  transform: scale(1.1);
  color: #0077cc;
}

html {
  scroll-behavior: smooth;
}
#emoji-toc .emoji {
  font-size: 20px;
}

#emoji-toc .label {
  display: inline-block;
}

#toc-wrapper.collapsed .label {
  display: none;
}

#toc-wrapper.collapsed #emoji-toc {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(204, 204, 204, 0.3);
  box-shadow: none;
}